<div class="container">
                <div class="row">
                    <div class="col-md">
                        <div class="text-center h1">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <input type="text" name="username" [(ngModel)]="user.username" placeholder="username" id="password"
                            class="py-3 my-2 form-control bg-secondary">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <input type="password" [(ngModel)]="user.password"  name="password" id="password" placeholder="password" 
                            class="py-3 my-2 form-control bg-secondary">

                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <button (click)="signin()" class="btn btn-success col-md-12 py-3 my-2">Signin</button>
                    </div>
                </div>
            </div>


            <h1>
            </h1>